
initialize() {
	initializeTreeSeq();
	initializeMutationRate(1e-8);
	initializeMutationType("m2", 0.5, "g", -0.01, 1.0);  // deleterious
	initializeMutationType("m3", 1.0, "f", 0.05);        // introduced
	initializeGenomicElementType("g1", m2, 1.0);
	initializeGenomicElement(g1, 0, 99999);
	initializeRecombinationRate(1e-8);
}
1 {
	defineConstant("simID", getSeed());
	sim.addSubpop("p1", 500);
}
1000 late() {
	target = sample(p1.genomes, 1);
	target.addNewDrawnMutation(m3, 10000);
	sim.treeSeqOutput("~/Documents/TreeVis/Attic/slim_" + simID + ".trees");
}
1000:100000 late() {
	if (sim.countOfMutationsOfType(m3) == 0) {
		if (sum(sim.substitutions.mutationType == m3) == 1) {
//			cat(simID + ": FIXED\n");
//			catn("In Generation: " + asString(sim.generation));
		} else {
			cat(simID + ": LOST - RESTARTING\n");
			
			sim.readFromPopulationFile("~/Documents/TreeVis/Attic/slim_" + simID + ".trees");
			setSeed(getSeed() + 1);
		}
	}
}
100001 late() {


	sim.treeSeqOutput("/Users/jaredgalloway/Documents/TreeVis/Sims/Trees/slim_" + simID + "_FIXED.trees");
	sim.simulationFinished();

}
